
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f7f6; /* Un gris muy claro para el fondo */
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);
}

.navbar-brand img {
  max-height: 50px;
  border-radius: 8px;
}

.navbar-nav .nav-link:hover {
  color: #28a745 !important;
  background-color: rgba(40, 167, 69, 0.1);
  text-decoration: underline;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link.active {
  color: #28a745 !important;
  font-weight: bold;
}

.hero {
  background: linear-gradient(45deg, #28a745, #20c997);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3.5rem;
}

.hero p {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 1rem auto;
}

section {
  padding: 3rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #333;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform .2s, box-shadow .2s;
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-title {
  font-weight: 600;
}

.footer {
  background-color: #155724;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.footer p {
    margin: 0;
}

/* Button Effects */
.btn-success, .btn-danger, .btn-primary {
  transition: all 0.3s ease;
}

.btn-success:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-danger:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}
